{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Catalyst - Campus Placement Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Catalyst - Campus Placement Portal connecting students with companies" />
    <meta name="keywords" content="campus placement, jobs, recruitment, students, companies" />
    <meta name="author" content="Catalyst Team" />
    <link rel="shortcut icon" href="{% static 'guest/assets/ftco-32x32.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">  

    <link rel="stylesheet" href="{% static 'guest/assets/css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'guest/assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'guest/assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'guest/assets/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'guest/assets/fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'guest/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'guest/assets/css/animate.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'guest/assets/css/style.css' %}">
  </head>
      <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="index.html">Catalyst</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/" class="nav-link active">Home</a></li>

              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
          
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="{% url 'register' %}" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span> Company Register</a>
              <a href="{% url 'student_register' %}" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>  Student Register</a>
              <a href="{% url 'login' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Login</a>
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>