body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f3f4f8;
}

.container {
    width: 900px;
    margin: 50px auto;
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
}

.left-box {
    width: 50%;
    padding: 50px;
    background: linear-gradient(135deg, #0049B7, #007BFF);
    color: white;
}

.left-box h2 {
    margin: 0;
    font-size: 20px;
    opacity: .8;
}

.left-box h1 {
    font-size: 32px;
    margin: 15px 0;
}

.left-box p {
    margin: 10px 0 20px;
    opacity: .9;
}

form input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin: 10px 0;
}

form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #002d75;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-text a {
    color: yellow;
}

.right-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.right-box img {
    width: 90%;
    height: auto;
    max-width: 200px;
    display: block;
}

