{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Catalyst Admin</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Admin/assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'Admin/assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'Admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'Admin/assets/images/favicon.svg' %}" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="{% url 'admin_dashboard' %}"><img src="{% static 'Admin/assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active">
                            <a href="{% url 'admin_dashboard' %}" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                       
                        <li class="sidebar-item">
                            <a href="{% url 'district' %}" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Districts</span>
                            </a>   
                            <li class="sidebar-item">
                            <a href="{% url 'view_districts' %}" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>View Districts</span>
                            </a> 
                            
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'batch' %}" class='sidebar-link'>
                                <i class="bi bi-pencil-square"></i>
                                <span>Batch</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_batch' %}" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>View Batches</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'department' %}" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>Departments</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_department' %}" class='sidebar-link'>
                                <i class="bi bi-collection-fill"></i>
                                <span>View Departments</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'classtype' %}" class='sidebar-link'>
                                <i class="bi bi-book-fill"></i>
                                <span>Class Types</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_classtype' %}" class='sidebar-link'>
                                <i class="bi bi-menu-button-fill"></i>
                                <span>View Class Types</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'location' %}" class='sidebar-link'>
                                <i class="bi bi-geo-alt-fill"></i>
                                <span>Locations</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_location' %}" class='sidebar-link'>
                                <i class="bi bi-geo-alt-fill"></i>
                                <span>View Locations</span>
                            </a>
                         
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'course' %}" class='sidebar-link'>
                                <i class="bi bi-journal-text"></i>
                                <span>Courses</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_course' %}" class='sidebar-link'>
                                <i class="bi bi-journal-text"></i>
                                <span>View Courses</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'trainingclass' %}" class='sidebar-link'>
                                <i class="bi bi-journal-text"></i>
                                <span>Training Class</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_trainingclass' %}" class='sidebar-link'>
                                <i class="bi bi-journal-text"></i>
                                <span>View Training Classes</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_company' %}" class='sidebar-link'>
                                <i class="bi bi-building"></i>
                                <span>Companies</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_student' %}" class='sidebar-link'>
                                <i class="bi bi-person-fill"></i>
                                <span>View Students</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'view_job_posts' %}" class='sidebar-link'>
                                <i class="bi bi-briefcase-fill"></i>
                                <span>Job Posts</span>
                            </a>

                        </li>
                        <li class="sidebar-item">
                            <a href="{% url 'company_accepted_students' %}" class='sidebar-link'>
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Accepted Students</span>
                            </a>


                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>